@media only screen and (max-width:480px){
    .wtg img{
        margin-top: 5%;
            margin-bottom: 5%;
                width: 30%;
      position: relative;
      left: 50%;
      transform: translateX(-100%);
               
            }
            .knowme{
                margin-top: 35%;
                
            }
            .api{
               margin-top: 20%; 
              
            }
        form,input{
            width: 45%;

        }
 


           }
          

@media only screen and (max-width:1023px){
 
    .wtg img{
    margin-top: 5%;
        margin-bottom: 5%;
            width: 30%;
  position: relative;
  left: 50%;
  transform: translateX(-100%);
           
        }
        .knowme{
            margin-top: 35%;
            
        }
        .api{
           margin-top: 20%;   
        }

}
@media only screen and (max-width :1200px){


}